<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <div class="profile-container">
    <ion-avatar class="profile-picture" (click)="changeProfilePicture()">
      <img [src]="profileImage" alt="Foto de perfil">
    </ion-avatar>
    <ion-icon name="camera" class="camera-icon" (click)="changeProfilePicture()"></ion-icon>
  </div>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="userName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Estado</ion-label>
    <ion-input [(ngModel)]="userStatus"></ion-input>
  </ion-item>

  <ion-list>
    <ion-item (click)="goToAccount()">
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-item>
    <ion-item (click)="goToPrivacy()">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-label>Privacidad</ion-label>
    </ion-item>
    <ion-item (click)="goToNotifications()">
      <ion-icon name="notifications-outline" slot="start"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-item>
    <ion-item (click)="goToHelp()">
      <ion-icon name="help-circle-outline" slot="start"></ion-icon>
      <ion-label>Ayuda</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
