<ion-item>
    <ion-avatar aria-hidden="true" slot="start">
      <!-- <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" /> -->
      <img src={{item.avatarUrl}} alt="">
    </ion-avatar>

    <ion-label>
      <strong>{{item.username}}</strong><br />
      <ion-note color="medium" class="ion-text-wrap">{{item.message}}</ion-note>
    </ion-label>
    <div class="metadata-end-wrapper" slot="end">
      <ion-note color="medium">{{item.date}}</ion-note>
      <!-- <ion-icon color="medium" name="chevron-forward"></ion-icon> -->
    </div>
    
  </ion-item>